body{
  font-family: $font-family-base;
  margin: 0 auto;
  line-height: 0;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.z-ind--1{
  z-index: -1;
}

.mainTextC{
  color: $text-color!important;
}

.subTextC{
  color: $sub-color;
}

.lightBTextC{
  color: $lightB-color;
}

.bg-gray{
  background-color: $bg-gray;
}

.bg-lightGray{
  background-color: $bg-lightGray;
}

.scale-6{
  transform: scale(0.6);
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);

  &:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  &:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

}


.ballYellow{
  left: 10%;
  top: 10%;
}

