$link-color: #ff0000;
$text-color: #56C4C5;
$sub-color: #747474;
$lightB-color:#221E1F;
$bg-gray:#ddd;
$bg-lightGray: #f5f5f5;
$btn-color-main: #56c4c5;
$btn-color-sub: #ff6d62;
$font-family-base: "Noto Sans TC,Arial,sans-serif";
